.Box {
  margin-top: -100px;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}

.Box-item {
  background: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 30px;
  margin: 50px 20px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
