.containbox {
  display: flex;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}

.contain-item {
  display: flex;
  flex: 100%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 0 500px;
  margin: 50px 0;
}

.contain-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.contain-item1 {
  flex-direction: column;
  display: flex;
  text-align: center;
  margin: 40px;
}

.contain-image1 {
  border: 2px solid black;
  width: 10vw;
  height: 30vh;
  border-radius: 12px;
}

.contain-image2 {
  border: 2px solid black;
  width: 10vw;
  height: 30vh;
  border-radius: 12px;
}

.contain-image3 {
  border: 2px solid black;
  width: 10vw;
  height: 30vh;
  border-radius: 12px;
}

.icon1 {
}
